#wrapper {
  position: relative;
  left: 50%;
}

#wrapper #dialog {
  display: none;
}

#wrapper #dialog.active {
  display: block;
  position: absolute;
  top: 0;
  left: 60px;
  width: 100px;
  height: 100px;
  border: 1px solid;
  background: white;
}

#wrapper #dialog::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 100%;
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right: 10px solid black;
}

#wrapper #dialog::after {
  content: '';
  position: absolute;
  top: 5px;
  right: 99%;
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right: 10px solid white;
}